- name: Home
  # Optionally, if you only have a single page you can hide the desktop navigation for a cleaner look
  # hide-desktop-navigation: true
  columns:
    - size: small
      widgets:
        - type: calendar
          first-day-of-week: monday

        - type: rss
          limit: 10
          collapse-after: 3
          cache: 12h
          feeds:
            - url: https://selfh.st/rss/
              title: selfh.st
            - url: https://golangweekly.com/rss/
              title: Golang Weekly
            - url: https://this-week-in-rust.org/rss.xml
              title: This Week in Rust

        - type: twitch-channels
          channels:
            - theprimeagen
            - piratesoftware

    - size: full
      widgets:
        - type: group
          widgets:
            - type: hacker-news
            - type: lobsters

        - type: videos
          channels:
            - UCXuqSBlHAE6Xw-yeJA0Tunw # Linus Tech Tips
            - UCR-DXc1voovS8nhAvccRZhg # Jeff Geerling
            - UCsBjURrPoezykLs9EqgamOA # Fireship
            - UCBJycsmduvYEL83R_U4JriQ # Marques Brownlee
            - UCHnyfMqiRRG1u-2MsSQLbXA # Veritasium

        - type: group
          widgets:
            - type: reddit
              subreddit: technology
              show-thumbnails: true
            - type: reddit
              subreddit: golang
              show-thumbnails: true
            - type: reddit
              subreddit: LocalLLaMA
              show-thumbnails: true

    - size: small
      widgets:
        - type: weather
          location: Bahia, Brazil
          units: metric # alternatively "imperial"
          hour-format: 24h # alternatively "12h"
          # Optionally hide the location from being displayed in the widget
          # hide-location: true

        - type: markets
          markets:
            - symbol: BRLUSD=X
              name: BRL/USD
            - symbol: BRL=X
              name: USD/BRL
            - symbol: NU
              name: Nu Holdings Ltd.
            - symbol: AAPL
              name: Apple
            - symbol: MGLU3.SA
              name: Magazine Luiza S.A.

        - type: releases
          cache: 1d
          # Without authentication the Github API allows for up to 60 requests per hour. You can create a
          # read-only token from your Github account settings and use it here to increase the limit.
          # token: ...
          repositories:
            - glanceapp/glance
            - go-gitea/gitea
            - github.com/dolthub/dolt
            - immich-app/immich
            - syncthing/syncthing
            - containers/podman
            - bufbuild/buf
            - ariga/atlas
            - IBM/sarama
            - ollama/ollama
            - sqlc-dev/sqlc
