version: '3.8'

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    environment:
      OLLAMA_KEEP_ALIVE: 30m
      OLLAMA_MAX_LOADED_MODELS: 2
    volumes:
      - ./data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - shared-network
    restart: unless-stopped

  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    env_file: .env
    environment:
      SEARXNG_BIND_ADDRESS: 0.0.0.0
      SEARXNG_PORT: 8888
      SEARXNG_SECRET: ${SEARXNG_SECRET}
    volumes:
      - ./searxng:/etc/searxng
    networks:
      - shared-network
    restart: unless-stopped

  open-webui:
    image: ghcr.io/open-webui/open-webui:main-slim
    container_name: open-webui
    ports:
      - "3000:8080"
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
      ENABLE_RAG_WEB_SEARCH: true
      RAG_WEB_SEARCH_ENGINE: "searxng"
      RAG_WEB_SEARCH_RESULT_COUNT: 3
      RAG_WEB_SEARCH_CONCURRENT_REQUESTS: 10
      SEARXNG_QUERY_URL: "http://searxng:8888/search?q=<query>"
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
      - searxng
    networks:
      - shared-network
    restart: always

volumes:
  open-webui:

networks:
  shared-network:

